#root section {
  -webkit-transition: width 2s, height 2s, background-color 2s,
  -webkit-transform 2s;
  transition: width 2s, height 2s, background-color 2s, transform 2s;
}

.onLoad {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}